@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700'); 

body {
    padding-top: 40px;
}

.container {
    max-width: 960px;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/**
============================================
TOP NAVIGATION
============================================*/
#NavTop {
    background-color: #000;
}

#NavTop #NavTop-left {
    margin-top: 4px;
}

#NavTop ul {
    margin: 0px;
    list-style: none;
    padding: 4px 0;
    display: inline-block;
    font-size: 12px;
}

#NavTop ul li a {
    color: #9e9e9e;
    text-decoration: none;
}

#NavTop ul li a:hover {
    color: #dedede;
}

#LoggedInAs {
    color: #d2d2d2;
    display: inline-block;
    margin-right: 10px;
}

#NavTop ul #btnLogout {
    padding: 0 10px;
    color: #e8e8e8;
}

/**
============================================
NAVIGATION BAR
============================================*/
.navbar {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    border-radius: 0;
    margin-bottom: 0;
}

nav.navbar.navbar-inverse.navbar-fixed-top {
    background: #060729;
}

.navbar-inverse .navbar-nav>.active>a {
    background: #1f2158;
}


/**
--------------------------------------------
TYPOGRAPHY OVERRIDES
--------------------------------------------*/
h1, h2, h3, h4 {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}


/**
============================================
ENTRY HEADER
============================================*/
.entry-header {
    padding-top: 20px;
    background-color: #e4e4e4;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
}

.entry-header h1 {
    font-size: 30px;
}

/**
============================================
STUDENT DETAILS PAGE 
- page/instructorCourseStudentDetailsPage
============================================*/
#studentInfomationTable {
}

#studentInfomationTable .form-group {
    margin-left: 0;
    margin-right: 0;
}

#studentInfomationTable .form-group label {
    display: inline-block;
    margin-right: 10px;
}

#studentInfomationTable .form-group label + div {
    display: inline-block;
}

/**
============================================
BUTTONS
============================================*/
.btn {
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

/**
============================================
FORMS
============================================*/
.form-control {
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
