@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700');

body {
    padding-bottom: 100px;
    padding-top: 0;
}

.container {
    max-width: 960px;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/**
============================================
TOP NAVIGATION
============================================ */
#NavTop {
    background-color: #000;
}

#NavTop #NavTop-left {
    margin-top: 4px;
}

#NavTop ul {
    margin: 0;
    list-style: none;
    padding: 4px 0;
    display: inline-block;
    font-size: 12px;
}

#NavTop ul li a {
    color: #9E9E9E;
    text-decoration: none;
}

#NavTop ul li a:hover {
    color: #DEDEDE;
}

#LoggedInAs {
    color: #D2D2D2;
    display: inline-block;
    margin-right: 10px;
}

#NavTop ul #btnLogout {
    padding: 0 10px;
    color: #E8E8E8;
}

/**
============================================
NAVIGATION BAR
============================================ */
.navbar {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    border-radius: 0;
    margin-bottom: 0;
}

nav.navbar.navbar-inverse.navbar-fixed-top {
    background: #060729;
}

.navbar-inverse .navbar-nav > .active > a {
    background: #1F2158;
}

#searchContainer {
    margin-top: 6px;
}

/**
============================================
TYPOGRAPHY OVERRIDES
============================================ */
h1,
h2,
h3,
h4 {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

/**
============================================
ENTRY HEADER
============================================ */
.entry-header {
    padding-top: 20px;
    background-color: #E4E4E4;
    padding-bottom: 5px;
    border-bottom: 1px solid #DDD;
}

.entry-header h1 {
    font-size: 30px;
}

/**
============================================
STUDENT DETAILS PAGE
- page/instructorCourseStudentDetailsPage
============================================ */
#studentInfomationTable .form-group {
    margin-left: 0;
    margin-right: 0;
}

#studentInfomationTable .form-group label {
    display: inline-block;
    margin-right: 10px;
}

#studentInfomationTable .form-group label + div {
    display: inline-block;
}

/**
============================================
BUTTONS
============================================ */
.btn {
    -webkit-border-radius: 0;
    border-radius: 0;
}

/**
============================================
FORMS
============================================ */
.form-control {
    -webkit-border-radius: 0;
    border-radius: 0;
}

/**
============================================
LOGIN CSS FROM W3
============================================ */
.inputLogin {
    width: 100%;
    border: 0;
    background: transparent;
    text-align: right;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background: #ECECEC;
}

.dropdown-menu > li > a:hover .inputlogin,
.dropdown-menu > li > a:focus .inputlogin {
    background: #ECECEC;
}

/**
============================================
PAGINATION
============================================ */
.pagination-links nav ul {
    padding: 0;
    margin: 0;
}

.pagination-links nav ul li {
    display: inline-block;
}

.pagination-links nav ul li * {
    padding: 3px 10px;
}

.pagination-links nav ul li.active * {
    font-weight: bold;
    text-decoration: underline;
}

/**
============================================
Reports Page
============================================ */
.student-details-table {
    border-spacing: 5px;
    border-collapse: separate;
}

.disabled{
	color: #51a768;
}
